* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box240 {
  width: 240px;
  flex-shrink: 0;
}

.box280 {
  width: 280px;
  flex-shrink: 0;
}

.wrappers {
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  width: calc(100% - 520px);
}

.header_wrappers {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header_wrappers_tg {
  margin-left: 10px;
}

.header_wrappers_line {
  width: 1px;
  height: 22px;
  background-color: #2a2a33;
  opacity: .2;
  margin: 0 10px;
}

.header_wrappers_link {
  text-decoration: none;
  font-size: 16px;
  color: #424186;
  transition: .3s;
  border-bottom: 1px dashed transparent ;
}
.header_wrappers_link:hover, .header_wrappers_end:hover{
  border-bottom: 1px dashed #424186 ;
}

.header_wrappers_end {
  text-decoration: none;
  font-size: 16px;
  color: #424186;
  margin-left: auto;
  border-bottom: 1px dashed transparent ;
}

.wrappers_slider {
  width: 100%;
  height: auto;
}

.wrappers_slider_item {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.wrappers_slider_box {
  position: relative;
  margin-bottom: 20px;
}

.wrappers_slider_item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.wrappers_slider_nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  transform: translateY(-50%);
  height: 60px;
}

.wrappers_slider_nav_prev,
.wrappers_slider_nav_next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #3c3c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrappers_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-top: 15px;
  align-items: center;
  overflow: hidden;
}

.wrappers_nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: .3s;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(253, 253, 253, 1);
  position: relative;
  overflow: hidden;
}


.wrappers_nav_item_icon {
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
  position: relative;
  z-index: 2;
}
.wrappers_nav_item::before{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(var(--clr), transparent, transparent);
}
.wrappers_nav .wrappers_nav_item:nth-child(1):before{
 top: 0;
 left: 0;
}
.wrappers_nav .wrappers_nav_item:nth-child(2):before{
  top: 0;
  left: -100px;
 }
 .wrappers_nav .wrappers_nav_item:nth-child(3):before{
  top: -100px;
  left: -100px;
 }
 .wrappers_nav .wrappers_nav_item:nth-child(4):before{
  top: -100px;
  left: 0px;
 }
 .wrappers_nav .wrappers_nav_item:nth-child(5):before{
  top: 0px;
  left: 0px;
 }
 .wrappers_nav .wrappers_nav_item:nth-child(6):before{
  top: 0px;
  left: -100px;
 }
.wrappers_nav_item::after{
  content: '';
  position: absolute;
  inset: 2px;
  background-color: rgba(253, 253, 253, 0.8);
}


.wrappers_nav_item span {
  font-size: 14px;
  margin-top: 5px;
  color: #2a2a33;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.wrappers_nav_item svg path {
 fill: var(--clr);
}


.wrappers_nav img {
  width: 120px;
  height: auto;
}

.wrappers_news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}

.wrappers_news_button {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #424186;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.wrappers_news_search {
  position: relative;
  width: 200px;
  height: 40px;
  border: 1px solid #f4f4f4;
  border-radius: 60px;
}

.wrappers_news_search_inp {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background-color: transparent;
  padding: 0 70px 0 20px;
  font-size: 14px;
  color: #2a2a33;
  outline: none;
}

.wrappers_news_search_inp::placeholder {
  color: #76767a;
  font-size: 14px;
}

.wrappers_news_search_sub {
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  color: transparent;
  background: transparent;
  background-image: url(./img/icon/search_header.svg);
  right: 10px;
  top: 10px;
}

.wrappers_trigger {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 4px 0;
}

.wrappers_trigger_item {
  padding: 6px 12px;
  font-size: 14px;
  color: #2a2a33;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  margin-right: 16px;
  text-decoration: none;
  margin-bottom: 16px;
  transition: .3s;
}

.wrappers_trigger_item:hover {
  color: #3c3c5c;
  border: 1px solid #3c3c5c;
}

.wrappers_trigger_item.active {
  color: #3c3c5c;
  border: 1px solid #3c3c5c;
}

.wrappers_box_news {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrappers_box_news_item {
  display: flex;
  width: calc(100%/2 - 5px);
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s;
}
.wrappers_box_news_item:hover{
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.1);
}

.wrappers_box_news_item_img {
  min-width: 150px;
  max-width: 200px;
}

.wrappers_box_news_item_img img {
  width: 100%;
  height: auto;
}

.wrappers_box_news_item_text {
  padding: 15px 10px;
}

.wrappers_box_news_item_text_data {
  display: flex;
  align-items: center;
}

.wrappers_box_news_item_text_data p {
  font-size: 14px;
  color: #2a2a33;
  margin-left: 10px;
}
.wrappers_box_news_item_text_name{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #2a2a33;
}
.wrappers_box_news_item_text_subtittle{
  font-size: 18px;
  color: #2a2a33;
}
.wrappers_box_news_item_text_autor_comment{
  display: flex;
  margin-top: 25px;
  align-items: center;
}
.wrappers_box_news_item_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrappers_box_news_item_text_autor_comment p{
  display: flex;
  align-items: center;
}
.wrappers_box_news_item_text_autor_comment p:nth-child(2){
  margin-left: 10px;
}
.wrappers_box_news_item_text_autor_comment p span{
  padding-left: 5px;
  font-size: 14px;
  color: #2a2a33;
}



.navigation {
  background: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: .5s;
  position: relative;
  height: 160px;
  border-radius: 20px;
}





.navigation ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 45px;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 96px;
  height: 100%;
  border-radius: 8px;
  border: 8px solid transparent;
  transition: .5s;
}

.navigation ul li.active {
  transform: translateY(30px);
  background: #fff;
}

.navigation ul li::before {
  content: '';
  position: absolute;
  bottom: 23px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 6px 5px 0 5px #fff;
  transform: scale(0);
  transform-origin: bottom right;
  transition: .5s;
}

.navigation ul li.active::before {
  transform: scale(1);
  left: -28px;
}

.navigation ul li::after {
  content: '';
  position: absolute;
  bottom: 23px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -6px 3px 0 3px #fff;
  transform: scale(0);
  transform-origin: bottom right;
  transition: .5s;
}

.navigation ul li.active::after {
  transform: scale(1);
  right: -29px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 1000;
  text-decoration: none;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 1.75em;
  line-height: 60px;
  border: 6px solid transparent;
  transition: .5s;
  flex-shrink: 0;
}

.navigation ul li.active a .icon {
  background: var(--clr);
  color: #fff;
}
.navigation ul li.active a .icon svg path{
  fill: #fff;
}
.navigation ul li a .icon svg path{
  fill: #3c3c5c;
}

.navigation ul li a .icon::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter: blur(8px);
  opacity: 0;
  transition: .5s;
}

.navigation ul li.active a .icon::before {
  opacity: 0.5;
}

.navigation ul li a .icon::after {
  content: '';
  position: absolute;
  top: -60px;
  left: 10px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border: 8px solid #fff;
  border-radius: 50%;
}

.navigation ul li a .text {
  position: relative;
  color: #333;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  font-size: 14px;
  margin-top: 10px;
}

.navigation.active ul li a .text {
  visibility: visible;
  opacity: 1;
}
.navigation ul li.active a .text{
  color: #2a2a33;
}